.devui-image-preview {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: calc(1050 - 1);
  background: #1d212999;
  border-radius: 4px;
  box-shadow: 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  svg,
  polygon,
  g,
  path {
    fill: inherit;
  }
  &-main-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: grab;
  }

  &-close-btn {
    position: fixed;
    z-index: 1050;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #eeeeee50;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // &:hover {
    //   background: #eee;
    // }

    top: 15px;
    right: 20px;
  }

  &-arrow-left {
    position: fixed;
    z-index: 1050;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #eeeeee50;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #eee;
    }

    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &-arrow-right {
    position: fixed;
    z-index: 1050;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #eeeeee50;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #eee;
    }

    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &-toolbar {
    position: fixed;
    bottom: 5%;
    width: 30%;
    height: 30px;
    display: flex;
    padding: 25px 0px;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px;
    border-radius: 6px;

    .devui-image-preview-index {
      display: inline-flex;
      width: 100px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: white;
    }

    & > :not(:first-child) {
      margin-left: 20px;
    }
  }
}
