.adny-notification {
  display: flex;
  position: fixed;
  width: 25rem;
  padding: 14px 26px 14px 13px;
  z-index: 99999;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;

  align-items: flex-start;
  box-sizing: border-box;
  color: #fff !important;
  span {
    display: block;
  }
  &--title {
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
  }
  &-icon {
    margin-right: 10px;
    color: rgb(255, 255, 255);
  }
  &--group {
    display: flex;
  }
  &--closeicon {
    position: absolute;
    right: 5%;
  }
  &--content {
    width: 95%;
  }
  &--info {
    border: 1px solid #52a6eb;
    background-color: #94c6ee;
  }
  &--success {
    border: 1px solid #38ce3d;
    background-color: #94e996;
  }
  &--warning {
    border: 1px solid #c7904d;
    background-color: #e9be8a;
  }
  &--danger {
    border: 1px solid #ee3333;
    background-color: #eea791;
  }
}
.notification-right-enter-from,
.notification-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.notification-right-enter-to,
.notification-right-leave-from {
  opacity: 1;
}

.notification-left-enter-from,
.notification-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}
.notification-left-enter-to,
.notification-left-leave-from {
  opacity: 1;
}
